{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
  <title>Postfix Alias Management</title>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2>Postfix Alias Management</h2>
      </div>

      <div class="panel-body">
      <style type="text/css">.control-label { text-align: right; }</style>
        <h4 color="lightgray">{% if object %}Edit{% else %}Create{% endif %} Alias</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons %}
              <button type="submit" class="btn btn-primary"> Submit </button>
              <button type="button" class="btn btn-primary" onclick="javascript:window.location='{% url 'aliases' %}'"> Cancel </button>
            {% endbuttons %}
        </form>
      </div>

      <div class="panel-body">

        <table width="90%" role="list" align="center" class="table table-striped">
          <caption>Alias List</caption>
          <tbody>
          {% if alias_list %}
            <tr bgcolor="lightgray" role="heading">
              <th>Domain</th>
              <th>Address</th>
              <th>Active</th>
              <th>Disposition</th>
              <th colspan="2">Created</th>
            </tr>
          {% endif %}
          {% for alias in alias_list %}
            <tr role="listitem">
              <td>{{ alias.domain.name }}</td>
              <td>{{ alias.address }}</td>
              <td>{{ alias.is_active }}</td>
              <td>{{ alias.disposition }}</td>
              <td>{{ alias.created|date:'Y-m-d H:i' }}</td>
              <td class="text-right">
                  <a href="{% url 'alias_edit' pk=alias.id %}" class="glyphicon glyphicon-edit"></a>
                  &nbsp;&nbsp;
                  <a href="{% url 'alias_delete' pk=alias.id %}" class="glyphicon glyphicon-remove"></a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colpsan="6" class="text-center">No aliases found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
