{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
  <title>Postfix Domain Management</title>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2>Postfix Domain Management</h2>
      </div>

      <div class="panel-body">
        <h4 color="lightgray">Delete Domain</h4>
          <div class="table-responsive">
            <table width="90%" role="list" align="center" class="table">
              <caption>Domain: {{ object.name }}</caption>
                 <tr>
                  <th class="text-right">Description</th>
                  <td>{{ object.description }}</td>
                  <th class="text-right">Active</th>
                  <td>{{ object.is_active }}</td>
                </tr>
                <tr>
                  <th class="text-right">Max Quota (MB)</th>
                  <td>{{ object.maxquota_mb }}</td>
                  <th class="text-right">MX2</th>
                  <td>{{ object.is_backup_mx }}</td>
                </tr>
                <tr>
                  <th class="text-right">No. of Mailboxes</th>
                  <td>{{ object.mailboxes }}</td>
                  <th class="text-right">Created</th>
                  <td>{{ object.created }}</td>
                </tr>
                <tr>
                  <th class="text-right">No. of Aliases</th>
                  <td>{{ object.aliases }}</td>
                  <th class="text-right">Modified</th>
                  <td>{{ object.modified }}</td>
                </tr>
            </table>
          </div>
      </div>
      <div class="panel-footer">
        <form method="post" role="form">
        {% csrf_token %}
        {% buttons %}
          <button type="submit" class="btn btn-primary"> Delete </button>
          <button type="button" class="btn btn-primary" onclick="javascript:window.location='{% url 'domains' %}'"> Cancel </button>
        {% endbuttons %}
        </form>
      </div>

    </div>
{% endblock %}
