{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
  <title>Postfix Maps Manager</title>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2>Postfix Maps Manager</h2>
      </div>

      <div class="panel-body">
        <h4 color="lightgray">Delete Map</h4>
          <div class="table-responsive">
            <table width="90%" role="list" align="center" class="table">
              <caption>Map: {{ object.name }}</caption>
                 <tr>
                  <th class="text-right">Fieldname 1</th>
                  <td>{{ object.fn1 }}</td>
                  <th class="text-right">Active</th>
                  <td>{{ object.is_active }}</td>
                </tr>
                <tr>
                {% if object.fn2 %}
                  <th class="text-right">Fieldname 2</th>
                  <td>{{ object.fn2 }}</td>
                {% else %}
                  <th></th><td></td>
                {% endif %}
                  <th class="text-right">Created</th>
                  <td>{{ object.created }}</td>
                </tr>
                <tr>
                {% if object.fn3 %}
                  <th class="text-right">Fieldname 3</th>
                  <td>{{ object.fn3 }}</td>
                {% else %}
                  <th></th><td></td>
                {% endif %}
                  <th class="text-right">Modified</th>
                  <td>{{ object.modified }}</td>
                </tr>
                <tr>
                  <th class="text-right">Map entries</th>
                  <td>{{ object.mapvalues_set.count }}</td>
                  <th></th>
                  <td></td>
                </tr>
            </table>
          </div>
      </div>
      <div class="panel-footer">
        <form method="post" role="form">
        {% csrf_token %}
        {% buttons %}
          <button type="submit" class="btn btn-primary"> Delete </button>
          <button type="button" class="btn btn-primary" onclick="javascript:window.location='{% url 'maps' %}'"> Cancel </button>
        {% endbuttons %}
        </form>
      </div>

    </div>
{% endblock %}
