{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
  <title>Postfix Vacation Record Management</title>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2>Postfix Vacation Record Management</h2>
      </div>

      <div class="panel-body">
        <h4 color="lightgray">Delete Vacation Record</h4>
          <div class="table-responsive">
            <table width="90%" role="list" align="center" class="table">
              <caption>Vacation Record: {{ object.mailbox.address }}</caption>
                 <tr>
                  <th class="text-right">Mailbox</th>
                  <td>{{ object.mailbox.address }}</td>
                  <th class="text-right">Active</th>
                  <td>{{ object.is_active }}</td>
                </tr>
                <tr>
                  <th class="text-right">Domain</th>
                  <td>{{ object.mailbox.domain }}</td>
                  <th class="text-right">Created</th>
                  <td>{{ object.created }}</td>
                </tr>
                <tr>
                  <th class="text-right">Response Subject</th>
                  <td>{{ object.response_subject }}</td>
                  <th class="text-right">Modified</th>
                  <td>{{ object.modified }}</td>
                </tr>
                <tr>
                  <th class="text-right" rowspan="2">Response Body</th>
                  <td colspan="3" rowspan="2">{{ object.response_body }}</td>
                </tr>
            </table>
          </div>
      </div>
      <div class="panel-footer">
        <form method="post" role="form">
        {% csrf_token %}
        {% buttons %}
          <button type="submit" class="btn btn-primary"> Delete </button>
          <button type="button" class="btn btn-primary" onclick="javascript:window.location='{% url 'vacations' %}'"> Cancel </button>
        {% endbuttons %}
        </form>
      </div>

    </div>
{% endblock %}
