     <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{{ appname }}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">- Domain Data -</li>
                  <li><a href="{% url 'domains' %}">Domains</a></li>
                  <li><a href="{% url 'mailboxes' %}">Mailboxes</a></li>
                  <li><a href="{% url 'aliases' %}">Aliases</a></li>
                  <li><a href="{% url 'vacations' %}">Vacation</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">- Admin Accounts -</li>
                  <li><a href="#">Postfix</a></li>
                  <li><a href="#">Domain</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
